*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 97vh;
  border-radius: 5px;
  border: 1px solid black;
  background-color: antiquewhite;
  margin: 10px auto;
}


.header {
  padding: 30px;
  border-bottom: 1px solid black;
  background-color: aqua;
  color: blueviolet;
  
}

.nav {

}
.ul {
display: flex;
justify-content: space-between;
list-style: none;
gap: 30px;
}

.main {
  padding: 10px;
flex-grow: 1;
}

.photo {

  border-radius: 20px;
  width: 200px;
  height: 250px;
  
 
  
}

.footer {
  padding: 30px;
  border-bottom: 1px solid black;
  background-color: aqua;
  color: blueviolet;
}
